<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodCategory</title>
</head>
<body>
<div th:insert="blocks/header"></div>

<form th:action="@{/categories/search}" th:method="GET">
    <div class="container mb-3">
        <label>Поиск</label>
        <div class="input-group">
            <input type="text" class="form-control" th:name="name" placeholder="Введите поисковый запрос" aria-label="Поиск" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
        </div>
    </div>
</form>

<div th:switch="${categories}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div th:case="*">
                <table class="table" border="1">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название категории</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category: ${categories}">
                        <td class="align-middle" th:text="${category.id}"></td>
                        <td class="align-middle" th:text="${category.categoryName}"></td>
                        <td><a class="btn btn-link" th:href="@{/categories/edit/{id}(id=${category.id})}">Редактировать</a></td>
                        <td><a class="btn btn-link" th:href="@{/categories/delete/{id}(id=${category.id})}">Удалить</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="mt-5"><a class="btn btn-primary" href="/categories/new">Добавить категорию</a></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>