<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodCategory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:insert="blocks/header"></div>
<form class="container" th:action="@{/foods/update/{id}(id=${food.id})}" th:object="${food}" th:method="POST">
    <div class="mb-3">
        <label for="foodName" class="form-label">Название</label>
        <input type="text" class="form-control" id="foodName" th:field="*{foodName}">
        <span th:if="${#fields.hasErrors('foodName')}" th:errors="*{foodName}" ></span>
    </div>
    <div class="mb-3">
        <label for="foodDescription" class="form-label">Название</label>
        <input type="text" class="form-control" id="foodDescription" th:field="*{foodDescription}">
        <span th:if="${#fields.hasErrors('foodDescription')}" th:errors="*{foodDescription}" ></span>
    </div>
    <div class="mb-3">
        <label for="foodCategory" class="form-label">Категория</label>
        <select class="form-control" id="foodCategory" th:field="*{foodCategory}">
            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
        </select>
        <span th:if="${#fields.hasErrors('foodCategory')}" th:errors="*{foodCategory}" ></span>
    </div>
    <div class="mb-3">
        <label for="foodPrice" class="form-label">Название</label>
        <input type="text" class="form-control" id="foodPrice" th:field="*{foodPrice}">
        <span th:if="${#fields.hasErrors('foodPrice')}" th:errors="*{foodPrice}" ></span>
    </div>
    <button type="submit" class="btn btn-primary">Изменить</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>